.alert_container{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    background: rgba(111, 111, 111, 0.261);
}
.alert_container .back_side{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9000;
}
.alert_container .alert_message{
    position: relative;
    background: var(--box-backgound-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    z-index: 99999;
}
.alert_container .alert_message img{
    height: 70px;
}
.alert_container .alert_message h3{
    text-align: center;
}
.alert_container .alert_message p{
    text-align: center;
}
.alert_container .alert_message p span{
    color: var(--primary-1);
}
.alert_container .alert_message p a{
    color: var(--primary-1);
}
.alert_container .alert_message p a:hover{
    color: var(--primary-1-dark);
    text-decoration: underline;
}
.alert_container .alert_message .btns{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.alert_container .alert_message .btns button{
    background: var(--primary-1);
    color: var(--text-color-2);
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}
.alert_container .alert_message .btns button:hover{
    background: var(--primary-2-dark);
}

.alert_container.active{
    opacity: 1;
    pointer-events: all;
}
