header{
    position: sticky;
    top: -1px;
    z-index: 9900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: var(--header-height);
}
header.active{
    background: var(--black);
    box-shadow: var(--box-shadow);
}
header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .content .logo{
    width: 70px;
}
header .content ul{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
    align-items: center;
    position: relative;
}


header .content ul li a{
    font-size: var(--text-size-LARG);
    position: relative;
    font-weight: bold;
    position: relative;
}


header .content ul.left_side li a.active:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: -5px;
    left: 0;
    background: var(--primary-3);
    border-radius: 10px;
    transition: .5s;
}
body.direction-rtl header .content ul.left_side li a.active:before{
    left: auto;
    right: 0;
}
header .content ul.left_side li:nth-child(1) a.active:hover:before{
    width: 60%;
}


header .content ul li a:hover{
    color: var(--title-color);
}
header .content ul li a.active{
    color: var(--primary-1);
}

header .content ul li a i , header .content ul li button i{
    font-size: 18px;
}
header .content ul li button img{
    width: 25px;
    border-radius: 5px;
}
header .content ul.right_side{
    justify-content: flex-end;
}
header .content ul.right_side .hidden-after{
    position: relative;
}
header .content ul.right_side button#show_available_languages{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
    gap: 10px;
    background: var(--black-light-100);
    box-shadow: var(--box-shadow);
}

header .action-btns{
    display: flex;
    align-items: center;
    gap: 10px;
}
header .action-btns a{
    height: 30px;
    padding: 0 10px;
    border-radius: var(--SMALL-RADIUS);
    background: var(--primary-1);
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
}
header .action-btns a i{
    color: var(--white);
}
header .action-btns a.login-btn{
    background: none;
    border: solid 1px var(--border-color);
    color: var(--text-color-white);
}
header .action-btns a.login-btn i{
    color: var(--text-color-white);
}

header .content ul .available_languages{
    position: absolute;
    background: var(--black-light);
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    right: 0;
    width: 113px;
    box-shadow: var(--box-shadow-3);
}
header .content ul .available_languages.active{
    opacity: 1;
    visibility: visible;
}
header .content ul .available_languages .lang{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    border-bottom: solid 1px var(--too-grey-light);
}
header .content ul .available_languages .lang:hover{
    background: var(--too-grey-light);
}
/* header .content ul .available_languages .lang p{
    color: var(--white);
} */
header .content ul .available_languages .lang img{
    width: 20px;
    border-radius: 5px;
}

.switching_language_alert{
    position: fixed;
    width: fit-content;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 222;
    background: var(--white);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--dark);
    box-shadow: var(--box-shadow);
    opacity: 0;
}
.switching_language_alert i{
    color: var(--primary-2);
}
.switching_language_alert.active{
    opacity: 1;
    top: 20px;
}
.switching_language_alert.active i{
    animation: iconing 1s infinite;
}

@keyframes iconing {
    100%{
        transform: rotate(360deg);
    }
}












header .selector-drop{
/*    background: red;*/
    display: flex;
    flex-direction: column;
    position: relative;
/*    width: 95px;*/
}
header .selector-drop .currenct-value, header .selector-drop .other-values .other-value{
    background: var(--black-light-100);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 50px;
    padding: 5px;
    border: solid 2px transparent;
    border-color: transparent;
    cursor: pointer;
}

header .selector-drop .other-values .other-value{
    border-radius: 0;
    box-shadow: none;
    box-shadow: none;
}
header .selector-drop .other-values .other-value:hover{
    background: var(--black-light-100);
}

header .selector-drop .value{
    flex: 1;
    
}

header .selector-drop .img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
/*    background: purple;*/
}
header .selector-drop .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header .selector-drop .other-values{
    position: absolute;
    bottom: 0;
    transform: translateY(106%);
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-3);
    margin-top: 5px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

header .selector-drop.active .currenct-value{
    border-color: var(--primary-2);
}
header .selector-drop.active .other-values{
    opacity: 1;
    pointer-events: all;
}

header .selector-drop.active #arrow-icon{
    transform: rotate(180deg);
}


header .show-side-menu{
    display: none;
}

header .show-side-menu i{
    font-size: 25px;
}

header .menu-side{
    background: var(--body-background);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    opacity: 0;
}
header .menu-side.active{
    left: 0;
    opacity: 1;
}


header .menu-side .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu-side .top a img.logo{
    width: 80px;
}

header .menu-side .top button{
    background: var(--black-light-100);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: var(--NORMAL-RADIUS);
}


header .menu-side .content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

header .menu-side .content a{
    font-size: 20px;
}


header .menu-side .buttons{
    width: 100%;
}

header .menu-side .buttons a{
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
}




/* ------------------------ */

@media (max-width:916px) {
    header .content .left_side li{
        display: none;
    }
    header .content .action-btns{
        display: none;
    }

    header .show-side-menu{
        display: flex;
    }

}
@media (min-width:916px) {
    header .content .left_side button{
        display: none;
    }
}

@media (max-width:570px) {
    header .content {
        width: 100%;
        padding: 0;
    }
    header{
        padding: 10px 15px;
    }
}


@media (max-width:422px) {
    header .content ul.right_side{
        gap: 15px;
    }
    .switching_language_alert{
        font-size: 13px;
    }
}





